.sortList {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0 0.25rem;
    align-items: center;
}

.sortList li {
    font-size: 0.9rem;
    text-transform: lowercase;
    font-weight: 400;
    color: rgba(104, 104, 104, 0.7);
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: all 0.1s linear;
    user-select: none;
}

.sortList li:hover {
    color: rgb(104, 104, 104);
    border-bottom-color: rgba(104, 104, 104, 0.5);
}

.sortList li:global(.active) {
    color: rgb(52, 73, 102);
    border-bottom-color: rgba(52, 73, 102, 0.5);
}

.sortList li span {
    margin-left: 2px;
    transition: opacity 0.1s linear;
}

.sortList li span:not(:global(.active)) {
    opacity: 0;
}

.sortList li:hover > span {
    opacity: 1;
}
